<div class="list-group shadow-sm">
    <a href="{% url 'admin_dashboard' %}" class="list-group-item list-group-item-action">Dashboard</a>
    <a href="{% url 'admin_bookings' %}" class="list-group-item list-group-item-action active bg-primary text-white">Bookings</a>
    <a href="{% url 'admin_vehicles' %}" class="list-group-item list-group-item-action">Vehicles</a>
    <a href="{% url 'admin_drivers' %}" class="list-group-item list-group-item-action">Drivers</a>
    <a href="{% url 'admin_reports' %}" class="list-group-item list-group-item-action">Trip Reports</a>
    <a href="{% url 'admin_users' %}" class="list-group-item list-group-item-action">Users</a>
</div>