@'
{% extends "base.html" %}
{% block title %}Request Vehicle{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-3">{% include "user/sidebar.html" %}</div>
    <div class="col-md-9">
        <h3>Request {{ vehicle.model }}</h3>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success">Submit Request</button>
            <a href="{% url 'user_dashboard' %}" class="btn btn-secondary">Back</a>
        </form>
    </div>
</div>
{% endblock %}
'@ > templates\user\request_form.html